html { 
  background: url(http://img05.deviantart.net/0145/i/2012/280/9/a/random_background_i_made_by_mitoonaf-d5h1xjo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h3{
    color: #565857;
    font-family: Arial ;
    font-size: 18px;
    line-height: 20px;
    margin: auto;
    position: relative;
    text-align: center;
    top: 1%;ia
}
h1 {
   font-family: Prata;
   text-align: center;
   font-size: 150px;
   line-height: 10px;
   
}
.border div {
    display: block;
    /*padding: 5px;
    clear: right;
    width: 100%;
    border-radius: 5px;
    border-width: 3px;
    border-color: black;*/
    background: gray;
}

