
.header {
    background-image: url('https://scontent-dft4-3.xx.fbcdn.net/v/t1.0-9/20526264_1649307451809967_4228666223613637215_n.jpg?oh=2406ee0faef2705f83344d300e78f047&oe=5A350C8A');
    background-position: center;
    background-repeat: no-repeat, repeat;
    padding: 50x;
}
h3{
    color: #565857;
    font-family: Arial ;
    font-size: 18px;
    line-height: 20px;
    margin: auto;
    position: relative;
    text-align: center;
    top: 1%;
}
h1 {
   font-family: Prata;
   text-align: center;
   font-size: 150px;
   line-height: 10px;
   
}



