/*
ADD TO HTML TO IMPORT FONTS; MAKE SURE YOU RENAME "SOFIA" + NAME OF STYLESHEET
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='subcat.css'>
*/

/*
ADD THIS TO HTML TO RUN BUTTON
<button class="button"><span>Hover </span></button>

ADD TO CSS DOC FOR BUTTON (WILL BE RENAMED LOCATION?)
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
*/
/*Background Info*/

body {
    background-image: url("https://scontent-dft4-3.xx.fbcdn.net/v/t1.0-9/20622340_1649493488458030_5504497678487335217_n.jpg?oh=a1bac944da9db45746ca9735d256496b&oe=5A29466C");
    background-repeat: repeat-y
    repeat-x;
}

cat_name {
  font-family: 'Arsenal';
  font-size: 40px;
}

cat_desc{
  font-family: 'Arsenal';
  font-size: 30px;
}

pic{
}

store_name{
  font-family: 'Arsenal';
  font-size: 25px;
}

description {
  font-family: 'Arsenal';
  font-size: 20px;
}

location{
  font-family: 'Arsenal';
  font-size: 20px;
}
